<ul class="upcoming__list">
  <li class="upcoming__item flex cursor" [routerLink]="['/courses']">
    <img width="100" height="100" src="assets/images/kattamen.png" alt="" />
    <div class="upcoming__wrapper">
      <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non libero
        nulla quia molestiae distinctio corrupti, nam perferendis suscipit sunt
        sit impedit expedita,
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quod
        quidem ab et eius officia!
      </p>
      <div class="flex">
        <strong class="img-wrapper"
          ><img
            width="30"
            src="assets/images/kattamen.png"
            alt=""
          />Katteman</strong
        >
        <strong><i class="fa-regular fa-paste"></i>Lecture</strong>
        <strong><i class="fa-regular fa-clock"></i>total length</strong>
      </div>
      <p class="time">Available at 08:00 AM</p>
    </div>
  </li>
</ul>
