<section class="aside-section">
    <div class="aside">
<ul class="aside-list">
    <li class="aside-item">
      <a routerLinkActive="active" [routerLink]="['/category']">
        <i class="fa-solid fa-layer-group"></i>
        <p>Category</p></a>
    </li>
    <li class="aside-item">
      <a routerLinkActive="active" [routerLink]="['/coupon']">
        <i class="fa-solid fa-tag"></i>
        <p>Cupon</p></a>
    </li>
    <li class="aside-item">
      <a routerLinkActive="active" [routerLink]="['/course']">
        <i class="fa-solid fa-clipboard-question"></i>
        <p>Course</p></a>
    </li>
    <li class="aside-item">
      <a routerLinkActive="active" [routerLink]="['/lesson']">
        <i class="fa-solid fa-person-chalkboard"></i>
        <p>Lesson</p></a>
    </li>
    <li class="aside-item">
      <a routerLinkActive="active" [routerLink]="['/message']">
        <i class="fa-solid fa-message"></i>
        <p>Message</p></a>
    </li>
    <li class="aside-item">
      <a routerLinkActive="active" [routerLink]="['/question']">
        <i class="fa-solid fa-question"></i>
        <p>Question</p></a>
    </li>
    <li class="aside-item">
      <a routerLinkActive="active" [routerLink]="['/quizCRUD']">
        <i class="fa-solid fa-circle-question"></i>
        <p>QuizCRUD</p></a>
    </li>
    <li class="aside-item">
      <a routerLinkActive="active" [routerLink]="['/user']">
        <i class="fa-solid fa-user"></i>
        <p>User</p></a>
    </li>
    <li class="aside-item">
      <a routerLinkActive="active" [routerLink]="['/userActivity']">
        <i class="fa-solid fa-user-plus"></i>
        <p>UserActivity</p></a>
    </li>
    <li class="aside-item">
      <a routerLinkActive="active" [routerLink]="['/video']">
        <i class="fa-solid fa-video"></i>
        <p>Video</p></a>
    </li>
  </ul>
    </div>
</section>